// Global Config

// Font Stacks

@font-face
  font-family: 'Open Sans', sans-serif
  src: url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600')

$font-family--primary    :'Open Sans', sans-serif

// Font Styles & Weights

$font-style--italic      : 400italic
$font-weight--normal     : 400
$font-weight--bold       : 600

// Color Usage

$color-primary    : #5d8780
$color-secondary  : lighten(#f5ead5, 3)
$color-accent     : #FFEFCB
$color-border     : #218593
$color-default    : white
$color-body-text  : #545454

body
  background-color: $color-secondary
