.logo
  width: 10em
  margin: 0 0 -1em 0.5em
  @media only screen and (max-width: 450px)
    width: 7.5em

.logoText
  color: $color-primary
  font-family: $font-family--primary
  font-size: 6em
  display: inline-block
  margin: 0 0 0 0.1em
  padding-top: -2em
  @media only screen and (max-width: 450px)
    font-size: 4.5em

nav.header-nav
  display: none
  @media only screen and (min-width: 450px)
    display: inline-block
    margin-top: 1em
    ul
      li
        list-style: none
        display: inline-block
        padding: 0 1.6em
        @media only screen and (max-width: 450px)
          padding: 0 1em
    a
      color: $color-primary
      font-family: $font-family--primary
      font-size: 1.5em
      text-decoration: none
      &:hover
        color: $color-tertiary

// nav.header-mobile
//   display: block
//   ul.menu-label
//     // float: right
//     text-align: right
//     position: absolute
//     top: 3.5em
//     right: 2em
//   ul.menu-list
//     li
//       list-style: none
//       position: relative
//       display: block
//       margin: 1em 0
//       @media only screen and (max-width: 450px)
//         padding: 0 1em
//   a
//     color: $color-primary
//     font-family: $font-family--primary
//     font-size: 1.5em
//     text-decoration: none
//     &:hover
//       color: $color-tertiary
//   @media only screen and (min-width: 450px)
//     display: none
//   /* Fallbacks */
//   .no-js ul
//     display: none
//   .no-js:hover ul
//     display: block

nav.header-mobile
  display: block
  margin: 1em auto
  width: 100%
  @media only screen and (min-width: 450px)
    display: none
  ul
    position: relative
    font-weight: 900
    .active
      background: $color-primary
      color: $color-default
      &:hover
        color: $color-primary
    .clicker
      color: $color-primary
      font-family: $font-family--primary
      font-size: 1.5em
      padding: 0.6em 1.5em 1em 1.5em
      position: relative
      background: $color-quaternary
      &:hover
        background: $color-quinary
        color: #FFF
    li
      position: relative
      list-style: none
      cursor: pointer
      ul
        position: absolute
        margin-top: 1em
        left: 0
        right: 0
        // li:last-of-type a
        //   border-bottom: 1em solid $color-primary
      a
        color: $color-default
        font-family: $font-family--primary
        font-size: 1em
        transition: background-color 0.2s ease-in-out
        -webkit-transition: background-color 0.2s ease-in-out
        -moz-transition: background-color 0.2s ease-in-out
        display: block
        padding: 0.6em 1.5em
        border-top: 0.1em solid $color-primary-2
        background: $color-quinary
        text-decoration: none
        &:hover
          background: #F2F2F2 // gray
          color: $color-primary
  /* Fallbacks */
  .no-js ul
    display: none
  .no-js:hover ul
    display: block

