.logo
  width: 10em
  margin: 0 0 -1em 0.5em
  @media only screen and (max-width: 450px)
    width: 7.5em

.logoText
  color: $color-primary
  font-family: $font-family--primary
  font-size: 6em
  display: inline-block
  margin: 0 0 0 0.1em
  padding-top: -2em
  @media only screen and (max-width: 450px)
    font-size: 4.5em

nav
  display: inline-block
  margin-top: 1em
  ul
    li
      list-style: none
      display: inline-block
      padding: 0 1.6em
      @media only screen and (max-width: 450px)
        padding: 0 1em
  a
    color: $color-primary
    font-family: $font-family--primary
    font-size: 1.5em
    text-decoration: none
    &:hover
      color: $color-tertiary

