extends layout

block content

  .main-content
    header
      a(href='/')
        img.logo(src='images/lola.svg', alt='Lola Logo')
        h1.logoText=title
      nav
        h2(hidden='') Site Navigation
        ul
          li
            a(href='shop') shop
          li
            a(href='#') specials
          li
            a(href='#') about
    .hero
      .panel3
        img.panelImage(src='images/lola3.jpg', alt='Love')
      .panel2
        img.panelImage(src='images/lola2.jpg', alt='Dance')
      .panel1
        img.panelImage(src='images/lola1.jpg', alt='Live')

    section.plugs
      section.box
        img(src='images/plug-shoes.jpg', alt='Shoes')
        p
          | SHOES: Lorem ipsum dolor sit amet, consectetur adipiscing
          | elit, sed do eiusmod tempor incididunt
      section.box
        img(src='images/plug-casual.jpg', alt='Casual')
        p
          | CASUAL: Lorem ipsum dolor sit amet, consectetur adipiscing
          | elit, sed do eiusmod tempor incididunt
      section.box
        img(src='images/plug-dress.jpg', alt='Dress')
        p
          | DRESS: Lorem ipsum dolor sit amet, consectetur adipiscing
          | elit, sed do eiusmod tempor incididunt

    footer
      p A project for Code Fellows B25 by Marissa Felitto and Sheyna Watkins
