extends layout

block content

  .main-content
    header
      a(href='/')
        img.logo(src='images/lola.svg', alt='Lola Logo')
        h1.logoText=title
      nav
        h2(hidden='') Site Navigation
        ul
          li
            a(href='shop') shop
          li
            a(href='#') specials
          li
            a(href='#') about
    ul.shoplinks
      li#tops Tops
      li#dresses Dresses
      li#shorts Shorts
      li#pants Pants
      li#skirts Skirts
      li#accessories Accessories
      li#outerwear Outerwear
      li#shoes Shoes
    ul#inventory
    footer
      p A project by Sheyna Watkins
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
