extends index

block body

  //- .slider
  //-   .slide-viewer
  //-     .slide-group
  //-       .slide.slide1
  //-         img.logo(src='images/slides/lola_slideshow_1.jpg', alt='Lola')
  //-       .slide.slide2
  //-         img.logo(src='images/slides/lola_slideshow_2.jpg', alt='Lola')
  //-       .slide.slide3
  //-         img.logo(src='images/slides/lola_slideshow_3.jpg', alt='Lola')
  //-   .slide-buttons
  .product-menu.drop-down-menu
    ul.menu-label.shoplinks#menu
      li.no-js.clicker#li-subhead Search Categories:
        ul.menu-list
          li#tops Tops
          li#dresses Dresses
          li#shorts Shorts
          li#pants Pants
          li#skirts Skirts
          li#accessories Accessories
          li#outerwear Outerwear
          li#shoes Shoes
  block store-products
    section#inventory

block scripts

  //- script(src='http://code.jquery.com/ui/1.11.2/jquery-ui.js')
  script(src='javascripts/getDiscount.js')
  script(src='javascripts/getInventory.js')
  script(src='javascripts/loadShop.js')
  script(src='javascripts/slider.js')
  //- script(src='javascripts/dropDownMenu.js')

