extends shop

block scripts
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='javascripts/getDiscount.js')
  script(src='javascripts/getInventory.js')
  script(src='javascripts/loadSpecials.js')
