/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'latolight';
  src: url('../fonts/lato-light-webfont.eot');
  src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-light-webfont.woff2') format('woff2'), url('../fonts/lato-light-webfont.woff') format('woff'), url('../fonts/lato-light-webfont.ttf') format('truetype'), url('../fonts/lato-light-webfont.svg#latolight') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latoregular';
  src: url('../fonts/lato-regular-webfont.eot');
  src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-regular-webfont.woff2') format('woff2'), url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #f8f0e1; }

p, h1 {
  font-family: 'latolight', sans-serif;
  color: #5d8780; }

.logo {
  width: 10em;
  margin: 0 0 -1em 0.5em; }
  @media only screen and (max-width: 450px) {
    .logo {
      width: 7.5em; } }

.logoText {
  color: #5d8780;
  font-family: 'latolight', sans-serif;
  font-size: 6em;
  display: inline-block;
  margin: 0 0 0 0.1em;
  padding-top: -2em; }
  @media only screen and (max-width: 450px) {
    .logoText {
      font-size: 4.5em; } }

nav {
  display: inline-block;
  margin-top: 1em; }
  nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 1.6em; }
    @media only screen and (max-width: 450px) {
      nav ul li {
        padding: 0 1em; } }
  nav a {
    color: #5d8780;
    font-family: 'latolight', sans-serif;
    font-size: 1.5em;
    text-decoration: none; }
    nav a:hover {
      color: #adc6c6; }

.main-content {
  max-width: 900px;
  margin: 2em auto 0 auto;
  padding: 0 1em 0 1em;
  overflow: auto; }
  @media only screen and (max-width: 450px) {
    .main-content {
      margin-top: 1em; } }

footer {
  margin-top: 4em;
  padding: 2em; }
  @media only screen and (max-width: 450px) {
    footer {
      margin-top: 1em; } }
  footer p {
    color: #545454;
    font-size: 0.8em;
    text-align: center; }

.hero {
  background-color: #5d8780;
  background-image: url('/images/lolapattern.jpg');
  background-size: contain;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 897px;
  margin: 1.5em auto 1.5em auto;
  clear: both; }
  @media only screen and (max-width: 862px) {
    .hero {
      margin-bottom: 0.5em; } }

.panel1 {
  flex-shrink: 1;
  flex-basis: 317px; }

.panel2 {
  flex-shrink: 1;
  flex-basis: 333px; }

.panel3 {
  flex-shrink: 1;
  flex-basis: 247px; }

.panelImage {
  margin: 0 0 -0.2em 0;
  max-width: 100%; }
  .panelImage:hover {
    opacity: 0.1; }

.shoplinks {
  margin: 1em 0;
  border-top: 0.1em solid #5d8780;
  border-bottom: 0.1em solid #5d8780;
  padding: 0.6em 0; }
  .shoplinks li {
    list-style: none;
    display: inline-block;
    padding: 0 1.6em 0 1.6em;
    color: #5d8780;
    font-family: 'latolight', sans-serif;
    font-size: 1em;
    text-decoration: none; }
    .shoplinks li:hover {
      color: #adc6c6;
      cursor: pointer; }

.plugs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 2em 0 2em 0;
  overflow: auto; }
  @media only screen and (max-width: 862px) {
    .plugs {
      margin: 0.7em auto 0.7em auto; } }
  @media only screen and (max-width: 450px) {
    .plugs {
      flex-wrap: wrap;
      justify-content: center; } }

.sidebox {
  flex-shrink: 1;
  flex-basis: 48%;
  background-color: #dadcdc;
  padding: 0.8em;
  margin: 0 1%; }
  @media only screen and (max-width: 800px) {
    .sidebox {
      font-size: 80%; } }
  @media only screen and (max-width: 660px) {
    .sidebox {
      font-size: 50%; } }
  @media only screen and (max-width: 450px) {
    .sidebox {
      font-size: 80%;
      padding: 1em 0.4em;
      flex-basis: 100%;
      margin: 0.1em auto 0.2em auto; } }
  .sidebox:hover {
    background-color: #76a19a; }
    .sidebox:hover h1 {
      color: #dadcdc; }
  .sidebox h1 {
    font-size: 1.8em; }
    .sidebox h1 .top {
      font-size: 2.4em;
      float: left;
      padding: -0.4em 1em -0.4em 0;
      margin: 0 0.2em 0 0.2em; }

.box {
  flex-shrink: 1;
  flex-basis: 33%;
  padding: 0 1% 0 1.2%; }
  @media only screen and (max-width: 450px) {
    .box {
      flex-basis: 47.5%;
      margin-bottom: 1em; } }
  @media only screen and (max-width: 450px) {
    .box:nth-child(3) {
      display: none; } }
  .box img {
    width: 100%;
    display: block;
    margin-bottom: 1em; }
  .box p {
    color: #545454;
    font-size: 0.8em; }

#inventory {
  min-height: 30em; }

.inventory-listing {
  width: 21%;
  margin: 2%;
  display: inline-block;
  overflow: auto;
  vertical-align: text-top; }
  @media only screen and (max-width: 450px) {
    .inventory-listing {
      width: 41%;
      margin: 4%; } }
  .inventory-listing img {
    width: 100%; }
  .inventory-listing h1 {
    margin: 0.2em 0 0.2em;
    font-size: 1em;
    font-family: 'latoregular'; }
  .inventory-listing .special {
    font-size: 0.8em;
    font-family: 'latoregular';
    color: #d86270; }
