.box
  flex-shrink: 1
  flex-basis: 33%
  padding: 0 1% 0 1.2%
  img
    width: 100%
    display: block
    margin-bottom: 1em
  p
    color: $color-body-text
    font-size: 0.8em

.plugs
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  margin: 2em 0 2em 0
  @media only screen and (max-width: 450px)
    margin-top: 0.6em
