.sidebox
  background-color: $color-quaternary
  width: 45%
  padding: 0.8em
  overflow: auto
  margin: 0 0.6em
  display: inline-block
  @media only screen and (max-width: 450px)
    width: 94%
    margin: 0 0 0.5em 0
  &:hover
    background-color: $color-quinary
    h1
      color: $color-quaternary
  h1
    font-size: 1.8em
    .top
      font-size: 2.4em
      float: left
      padding: -0.4em 1em -0.4em 0
      margin: 0 0.2em 0 0.2em

.inventory-listing
  width: 21%
  margin: 2%
  display: inline-block
  overflow: auto
  vertical-align: text-top
  @media only screen and (max-width: 450px)
    width: 41%
    margin: 4%
  img
    width: 100%
  h1
    margin: 0.2em 0 0.2em
    font-size: 1em
    font-family: $font-family--bold
