.sidebox
  background-color: $color-quaternary
  width: 45%
  padding: 0.8em
  overflow: auto
  margin: 0 0.6em
  display: inline-block
  &:hover
    background-color: $color-quinary
    h1
      color: $color-quaternary
  h1
    font-size: 1.8em
    .top
      font-size: 2.4em
      float: left
      padding: -0.4em 1em -0.4em 0
      margin: 0 0.2em 0 0.2em

.inventory-listing
  width: 29%
  margin: 1em
  display: inline-block
  overflow: auto
  img
    width: 100%
  h1
    margin: 0.2em 0 0.2em
    font-size: 1em
    font-family: $font-family--bold
